<%= stylesheet_link_tag 'messages', media: 'all' %>

<div class="container paddingtop">
    <div class="row">
      <div class="col-md-3">
        <div class="row chats-row">
          <div class="col-md-12">
          <ul class="list-group-item">
           <h4>Mensajes con <%= @user.username %></h4 class="list-group-item">
           <br>
            <%= link_to 'Valorar usuario', new_user_valoration_path(@user.id),class: "btn btn-primary center" %>
            <%= link_to 'Volver', user_path(current_user), class: "btn btn-primary center"%>
          </ul>      
        </div>
      </div>
    </div>
        <div class="col-md-9 container_radius">
            
                <div class="col-md-12">
                      <ul class="media-list" style="padding-top: 25px;">
                          <% @messages_order.each do |message| %>
                           <li class="media">
                          
                            <div class="media-body">
                                <div class="media">
                                 <% if  %>
                                  
                                    <a class="pull-left" href="">
                                        <%= image_tag message.sender.avatar.url(:thumb), class: "media-object img-circle", style: "max-width: 50px;" %>
                                    </a>
                                    <div class="media-body">
                                      <%= message.body %>
                                      <%#= link_to 'Show', message %>
                                      <%#= link_to 'Edit', edit_message_path(message) %>
                                      <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
                                       <br>
                                       <small class="text-muted">Enviado: <%= message.created_at %> |
                                       </small>
                                        <hr>

                                    </div>
                                    <% else %>
                                    <p>Enviar mensaje</p>

                                    <% end %>
                                </div>
                            </div>
                          </li>
                          <% end %>
                      </ul>  
                
            <div class="row current-chat-footer">
            <div class="panel-footer">
                
                  <%= form_for(@message) do |f| %>
                    <%=f.hidden_field :receiver_id, value: params[:id]%>
                      <% if @message.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>  
                        <ul>
                          <% @message.errors.full_messages.each do |message| %>
                          <li><%= @message %></li>
                    <% end %>
                       </ul>
              
                <% end %>
                  <div class="input-group"> 
                   <%= f.text_field :body , class: "form-control"%>
                  
                  <div class="input-group-btn">
                    <%= f.submit 'Submit', class: "btn btn-default"%><
                  </div>
                  <% end %>
                  </div>
                  