<%#= stylesheet_link_tag    'messages', media: 'all' %>
<div class="container">

<p id="notice"><%= notice %></p>

<h1>Messages with <%= @user.username %>  </h1>

<!-- <table>
  <thead>
    <tr>
    <th>Body</th>
      <th>Para</th>
      <th colspan="3"></th>
    
  </thead>

  <tbody>

    <% @messages_order.each do |message| %>
      <tr>
        <td><%= message.body %></td> 
        <td><%= message.receiver.username %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%#= render 'form', message: @message %>
 -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="row chats-row">
          <div class="col-md-12">
              <% @users.each do |user| %>
              <div class="list-group-item">
                <%= link_to user.username, message_user_path(user.id)%>
                </div>

               <% end %>       
        </div>
      </div>
    </div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
            
            <div class="row current-chat-area">
                <div class="col-md-12">
                      <ul class="media-list">
                          <% @messages_order.each do |message| %>
                        <li class="media">
                          
                            <div class="media-body">
                                <div class="media">
                                  
                                    <a class="pull-left" href="">
                                        <%= image_tag message.sender.avatar.url(:thumb), class: "media-object img-circle", style: "max-width: 50px;" %>
                                    </a>
                                    <div class="media-body">
                                      <%= message.body %>
                                      <%#= link_to 'Show', message %>
                                      <%#= link_to 'Edit', edit_message_path(message) %>
                                      <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
                                       <br>
                                       <small class="text-muted">Enviado: <%= message.created_at %> |
                                       </small>
                                        <hr>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                      </ul>  
                </div>
            </div>
            <div class="row current-chat-footer">
            <div class="panel-footer">
                
                  <%= form_for(@message) do |f| %>
                    <%=f.hidden_field :receiver_id, value: params[:id]%>
                      <% if @message.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>  
                        <ul>
                          <% @message.errors.full_messages.each do |message| %>
                          <li><%= @message %></li>
                    <% end %>
                       </ul>
              
                <% end %>
                  <div class="input-group"> 
                   <%= f.text_field :body , class: "form-control"%>
                  
                  <div class="input-group-btn">
                    <%= f.submit 'Submit', class: "btn btn-default"%><
                  </div>
                  <% end %>
                  </div>
                  <%= link_to 'Valorar usuario', new_user_valoration_path(@user.id) %>
                  
                   
                </div>
                </div>
            </div>
    </div>
  </div>
</div>
</div>
