<div class="panel panel-default">
<div class="panel-body">
<%= form_for [@user, @pet], html: { class: 'form-horizontal' } do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>+ Mascota</legend>

  <div class="form-group">
    <%= f.label :name, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :name, class: "form-control", placeholder: "nombre"%>
    </div>
  </div>  

  <div class="form-group">
    <%= f.label :type_pet, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
    <%= f.select(:type_pet, html: { class: 'form-control' }) do %>
     <% [['perro', 'perro'], ['gato', 'gato'], ['pajaro', 'pajaro']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :breed, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :breed, class: "form-control", placeholder: "raza" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :age, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.number_field :age, class: "form-control", placeholder: "edad" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description_pet, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_area :description_pet, class: "form-control", rows: "3" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :care, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_area :care, class: "form-control", placeholder: "cuidados" %>
    </div>
  </div>
  <%= f.file_field :avatar %>

  <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Cancel', :name => 'cancel', class: "btn btn-default"%>
        <%= f.submit 'Submit', class: "btn btn-primary"%>
      </div>
  </div>
  </fieldset>
<% end %>
</div>
</div>