<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Type pet:</strong>
  <%= @pet.type_pet %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Description pet:</strong>
  <%= @pet.description_pet %>
</p>

<p>
  <strong>Care:</strong>
  <%= @pet.care %>
</p>

<%= link_to 'Edit', edit_user_pet_path(@pet) %> |
<%= link_to 'Back', user_pets_path %>
