<%= stylesheet_link_tag    'users', media: 'all' %>





<br>
    <div class="container paddingtop">
        <div class="row">
            <!-- Columna de la izquierda -->
            <%= form_for @user do |f| %>
                  <% if user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                      <% user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
          <div class="col-md-3">
            <div class="col-md-12">
              <%= image_tag @user.avatar.url, class: "img-responsive img-portfolio img-hover container_radius"%>
              <h6>Upload a different photo...</h6>
            </div>
            <div class="col-md-12">
              <ul class="list-group list-primary">
              <%= f.file_field :avatar, class: "col-md-12 list-group-item text-cente"%>
              </ul>
            </div>
          </div>

            <!-- Fin de Columna de la izquierda -->

            <!-- Parte central -->
            <div class="col-md-6">
                <div class="col-md-12 container_high">
                    <h3 style="text-align: center">Editar perfil</h3>
                </div>
                  
              
                <!-- Inicio del div central parte de información básica -->
                <div class="col-md-12 container_low">
                  <div class="col-md-8 col-md-offset-2">
                      <div class="form-horizontal" role="form">
                      <br>
                        <div class="form-group">
                            <%= f.label :name, 'Nombre', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :name, class: "form-control", placeholder: "name"%>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :surname, 'Apellido', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :surname, class: "form-control", placeholder: "surname"%>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :telephone, 'Teléfono', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :telephone, class: "form-control", placeholder: "telephone"%>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :street, 'Calle', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :street, class: "form-control", placeholder: "street"%>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :city, 'Ciudad', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :city, class: "form-control", placeholder: "city"%>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :postal_code, 'Codigo postal', class: "col-lg-3 control-label" %>
                          <div class="col-lg-8">
                            <%= f.text_field :postal_code, class: "form-control", placeholder: "postal code"%>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label"></label>
                          <div class="col-md-8">
                            <%= f.submit 'Enviar', class: "btn btn-primary"%>
                            <%= f.submit 'Cancelar', :name => 'cancel', class: "btn btn-default"%>
                              <span></span>
                          </div>
                        </div>
                      </div>
                      <% end %>                      
                    </div>
                </div>
                <!-- Fin del div central parte  información básica -->

                <!-- Parte central - enlaces -->
                <div class="col-md-12" >
                    <!-- Parte de redes sociales en el alta de perfil -->
                    <div class="col-md-8 col-md-offset-2">
                    
                    </div>
                    <!-- Fin Parte de redes sociales en el alta de perfil -->
                    
                    <!-- Botones formulario -->
                  
                   
                </div>
                <!-- Fin Parte central - enlaces -->
            </form>
          
            </div>  
            <!-- Fin del div de parte central -->
            <div class="col-md-3">
            <div class="col-md-12">
            <!-- Barra vertical de opciones del perfil de usuairo -->
              
              <ul class="list-group list-primary">
                <%= link_to 'Añadir mascota', new_user_pet_path(@user), class: "list-group-item"%>
                <% if @user.pets.size>0%>
                 <%= link_to 'Ver mascotas', user_pets_path(@user), class: "list-group-item"%> 
                <% end %>
                <%= link_to 'Ser anfitrion', edit_user_host_path(@user), class: "list-group-item" %> 
                <% if @user.housing_type %>
                <%= link_to 'Ver alojamiento', user_host_path(current_user), class: "list-group-item" %> 
                <% end %>
                <%#= link_to 'Ver mensajes', messages_user_path(current_user), class: "list-group-item"%> 
                <%= link_to 'Valoraciones', user_valorations_path(current_user), class: "list-group-item"%>
                <%= link_to 'Editar', edit_user_path(@user), class: "list-group-item" %> 
                <%= link_to 'Atrás', user_session_path, class: "list-group-item" %>
              </ul>
          </div>
                <!-- Fin Barra vertical de opciones del perfil de usuario -->
          </div>
        </div>
        
       

        

    </div>
    <!-- /.container -->

