
<div class="panel panel-default">
<div class="panel-body">

<%= form_for @user,  html: { class: 'form-horizontal' } do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Editar usario</legend>
  
  <div class="form-group">
    <%= f.label :name, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :name, class: "form-control", placeholder: "name"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :surname, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :surname, class: "form-control", placeholder: "surname"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telephone, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :telephone, class: "form-control", placeholder: "telephone"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :street, class: "form-control", placeholder: "street"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :city, class: "form-control", placeholder: "city"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :postal_code, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= f.text_field :postal_code, class: "form-control", placeholder: "postal code"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.file_field :avatar %>
    </div>
  </div>
  
  <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Cancel', :name => 'cancel', class: "btn btn-default"%>
        <%= f.submit 'Submit', class: "btn btn-primary"%>
      </div>
  </div>

  </fieldset>

<% end %>

</div>
</div>


