<%= stylesheet_link_tag    'users', media: 'all' %>

<br>
<div class="container paddingtop">  
  <div class="row">
  <!-- Columna de la izquierda -->        
    <%= form_for @user do |f| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="col-md-3">
          <div class="col-md-12" align="center">
            <%= image_tag @user.avatar.url, class: "img-responsive img-portfolio img-hover container_radius" %>
          </div>
          <div class="col-md-12 ">
            <p class="text-center"><strong><%= @user.username %></strong></p>
          </div>
        </div>
         <!-- Fin de Columna de la izquierda -->

<!-- Parte central -->
       <div class="col-md-6">
          <div class="col-md-12 container_high">
            <h3 style="text-align: center">Editar alojamiento</h3>
          </div>
          <!-- Inicio del div central parte de información básica -->
          <div class="col-md-12 container_low">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-horizontal" role="form">
              <br>
              <div class="form-group">
                <%= f.label :housing_type, class: "col-lg-3 control-label" %>
                  <div class="col-lg-8">                
                    <%= f.select(:housing_type) do %>           
                    <% [['piso', 'piso'], ['apartamento', 'apartamento'], ['chalet adosado', 'chalet adosado'], ['chalet independiente', 'chalet independiente']].each  do |c| -%>
                    <%= content_tag(:option, c.first, value: c.last) %>
                    <% end %>               
                    <% end %>
                  </div>
              </div>

              <div class="form-group">
                <%= f.label :housing_description, class: "col-lg-3 control-label" %>
                <div class="col-lg-8">
                  <%= f.text_area :housing_description, class: "form-control", placeholder: "housing description"%>
                </div>
              </div>
              <div class="form-group">
                 <%= f.label :welcome_pets, class: "col-lg-3 control-label"%>
                  <div class="col-lg-8">
                   <%= f.select(:welcome_pets) do %>
                   <% [['perro', 'perro'], ['gato', 'gato'], ['pajaro', 'pajaro']].each do |c| -%>
                   <%= content_tag(:option, c.first, value: c.last) %>
                   <% end %>
                  <% end %>
                  </div>
              </div>
              <div class="form-group">
                  <%= f.label :price, class: "col-lg-3 control-label" %>
                <div class="col-lg-8">
                  <%= f.text_field :price, class: "form-control", placeholder: "price"%>
                </div>
              </div>
              <div class="form-group">
                  <%= f.label :availability, class: "col-lg-3 control-label" %>
                <div class="col-lg-8">
                  <%= f.text_field :availability, class: "form-control", placeholder: "availability"%>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <%= f.submit 'Submit', class: "btn btn-primary"%>
                  <%= f.submit 'Cancel', :name => 'cancel', class: "btn btn-default"%>
                    <span></span>
                </div>
              </div>
           </div>
          <% end %>
        </div>
      </div>
      <!-- Fin del div central parte  información básica -->

                <!-- Parte central - enlaces -->
                <div class="col-md-12" >
                    <!-- Parte de redes sociales en el alta de perfil -->
                    <div class="col-md-8 col-md-offset-2">
                    
                    </div>
                    <!-- Fin Parte de redes sociales en el alta de perfil -->
                    
                    <!-- Botones formulario -->
                  
                   
                </div>
                <!-- Fin Parte central - enlaces -->
            </form>
          
            </div>  
            <!-- Fin del div de parte central -->
            <div class="col-md-3">
            <div class="col-md-12">
            <!-- Barra vertical de opciones del perfil de usuairo -->
              
              <ul class="list-group list-primary">
                <%= link_to 'Añadir mascota', new_user_pet_path(@user), class: "list-group-item"%>
                <% if @user.pets.size>0%>
                 <%= link_to 'Ver mascotas', user_pets_path(@user), class: "list-group-item"%> 
                <% end %>
                <%= link_to 'Ser anfitrion', edit_user_host_path(@user), class: "list-group-item" %> 
                <% if @user.housing_type %>
                <%= link_to 'Ver alojamiento', user_host_path(current_user), class: "list-group-item" %> 
                <% end %>
                <%#= link_to 'Ver mensajes', messages_user_path(current_user), class: "list-group-item"%> 
                <%= link_to 'Valoraciones', user_valorations_path(current_user), class: "list-group-item"%>
                <%= link_to 'Editar', edit_user_path(@user), class: "list-group-item" %> 
                <%= link_to 'Atrás', user_session_path, class: "list-group-item" %>
              </ul>
          </div>
                <!-- Fin Barra vertical de opciones del perfil de usuario -->
          </div>
        </div>
        
       

        

    </div>
    <!-- /.container -->



