<%= form_for (user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :housing_type %>
    <%= f.select(:housing_type) do %>
     <% [['piso', 'piso'], ['apartamento', 'apartamento'], ['chalet adosado', 'chalet adosado'], ['chalet independiente', 'chalet independiente']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :housing_description %>
    <%= f.text_area :housing_description %>
  </div>

  <div class="field">
    <%= f.label :welcome_pets %>
    <%= f.text_field :welcome_pets %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :availability %>
    <%= f.text_field :availability %>
  </div>

  

  <div class="actions">
    <%= f.submit 'Editar'%>
  </div>
<% end %>
