<div class="container" >
  
  <div class="row">        
    <%= form_for @user do |f| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= image_tag @user.avatar.url, class: "avatar img-circle img-thumbnail", style: "max-width: 60%;"%>
            
          </div>
        </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <%= f.label :housing_type, class: "col-lg-3 control-label"%>
          <div class="col-lg-8">
          
          <%= f.select(:housing_type) do %>
            <% [['piso', 'piso'], ['apartamento', 'apartamento'], ['chalet adosado', 'chalet adosado'], ['chalet independiente', 'chalet independiente']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
          </div>
        </div>
          
        </div>
        
        
        <div class="form-group">
            <%= f.label :housing_description, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_area :housing_description, class: "form-control", rows:"3", placeholder: "housing description"%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :welcome_pets, class: "col-lg-3 control-label"%>
          <div class="col-lg-8">
            <%= f.select(:welcome_pets) do %>
              <% [['perro', 'perro'], ['gato', 'gato'], ['pajaro', 'pajaro']].each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
            <%= f.label :price, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :price, class: "form-control", placeholder: "price"%>
          </div>
        </div>
        <div class="form-group">
            <%= f.label :availability, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :availability, class: "form-control", placeholder: "availability"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit 'Submit', class: "btn btn-primary"%>
            <%= f.submit 'Cancel', :name => 'cancel', class: "btn btn-default"%>
              <span></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


