<%= stylesheet_link_tag    'users', media: 'all' %>
<br>
<div class="container paddingtop">
    <div class="row">
        <!-- Columna de la izquierda -->
      <div class="col-md-3">
        <div class="col-md-12" align="center">
          <%= image_tag @user.avatar.url, class: "img-responsive img-portfolio img-hover container_radius" %>
        </div>
        <div class="col-md-12 ">
          <p class="text-center"><strong><%= @user.username %></strong></p>
        </div>

            <!-- Fin Barra vertical de opciones de mensajes de usuario -->
      </div>
        <!-- Fin de Columna de la izquierda -->

        <!-- Parte central -->
        <div class="col-md-6">
            <div class="col-md-12 container_high">
                <h3 style="text-align: center">Alojamiento de <%= @user.username %> </h3>
            </div>
           
          
            <!-- Inicio del div central parte de información básica -->
            <div class="col-md-12 container_low">
              <div class="col-md-8 col-md-offset-2">
                  
                      <div class="personal-info">
                          <div class="">
                            <br >
                              <label>Ciudad: </label>
                              <span>
                              <%= @user.city %>
                              </span>
                              <br>
                              <label>Tipo vivienda: </label>
                              <span>
                                <%= @user.housing_type %>
                              </span>
                              <br >
                              <label>Descripción: </label>
                              <span>
                                <%= @user.housing_description %>
                              </span>
                              <br >
                              <label>Mascotas aceptadas: </label>
                              <span>
                              <%= @user.welcome_pets %>
                              </span>
                              <br >
                              <label>Precio: </label>
                              <span>
                              <%= @user.price  %>
                              </span>
                              <br >
                              <label>Disponibilidad: </label>
                              <span>
                              <%= @user.availability %>
                              </span>
                              <br >
                              
                              

                              <p class="help-block"></p>
                          </div>
                      </div>  
              </div>
              <div class="col-md-6 container allFormButtons">
                  <div class="col-md-5 col-md-offset-3">
                        <div class="form-group">              
                        <%= link_to 'Enviar mensaje', message_user_path(user.id), class: "btn btn-primary pull-rigth" %>
                        
                        </div>
                    </div>
                    
              </div>
               
            </div>
           
            <!-- Fin del div central parte  información básica -->

            <!-- Parte central - lojamiento -->
            <div class="col-md-12">
  
                <div class="col-md-8 col-md-offset-2">
                  
                  <div class="personal-info">
                          <div class="">
                          

                              <p class="help-block"></p>
                    </div>
                </div>  
              </div>
              
                
                <!-- Botones formulario -->
               
            </div>
            <!-- Fin Parte central - enlaces -->
        
      
        </div>  
        <!-- Fin del div de parte central -->
        
    </div>
</div>