<%= stylesheet_link_tag    'users', media: 'all' %>
<%= javascript_include_tag 'user'%>
    <!-- Contenido de la página -->
<br>
<div class="container paddingtop">
    <div class="row">
        <!-- Columna de la izquierda -->
      <div class="col-md-3">
        <div class="col-md-12" align="center">
          <%= image_tag @user.avatar.url, class: "img-responsive img-portfolio img-hover container_radius" %>
        </div>
        <div class="col-md-12 ">
          <p class="text-center"><strong><%= @user.username %></strong></p>
          <p class="text-center"><em>Ver mensajes</em></p>
        </div>


        <div class="col-md-12 ">
        <!-- Barra vertical de opciones de mensajes perfil de usuairo -->
          
          <ul class="list-group list-primary">
          <!-- <p class="list-group-item text-center"><strong><%= @user.username %></strong></p>
          <p class="list-group-item text-center"><em>Ver mensajes</em></p> -->
          
            <%= render 'messages/index',class: "list-group-item"  %>
          
          </ul>
        </div>
            <!-- Fin Barra vertical de opciones de mensajes de usuario -->
      </div>
        <!-- Fin de Columna de la izquierda -->

        <!-- Parte central -->
        <div class="col-md-6">
            <div class="col-md-12 container_high">
                <h3 style="text-align: center">Mi perfil</h3>
            </div>
           
          
            <!-- Inicio del div central parte de información básica -->
            <div class="col-md-12 container_center">
              <div class="col-md-8 col-md-offset-2">
                  
                      <div class="personal-info">
                          <div class="">
                            <br >
                              <label>Nombre: </label>
                              <span>
                                <%= @user.name %>
                              </span>
                              <br >
                              <label>Apellidos: </label>
                              <span>
                                <%= @user.surname %>
                              </span>
                              <br >
                              <label>Teléfono: </label>
                              <span>
                              <%= @user.telephone %>
                              </span>
                              <br >
                              <label>Email: </label>
                              <span>
                              <%= @user.email  %>
                              </span>
                              <br >
                              <label>Calle: </label>
                              <span>
                              <%= @user.street%>
                              </span>
                              <br >
                              <label>Ciudad: </label>
                              <span>
                              <%= @user.city %>
                              </span>
                              <br >
                              <label>Codigo Postal: </label>
                              <span>
                              <%= @user.postal_code  %>
                              </span>
                              <br >

                              <p class="help-block"></p>

                          </div>
                      </div>  
                </div>
              <div class="col-md-6 container allFormButtons">
                  <div class="col-md-5 col-md-offset-3">
                        <div class="form-group">               
                        <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-primary pull-rigth" %>
                       
                        </div>
                    </div>
                    
              </div>
               
            </div>
           
            <!-- Fin del div central parte  información básica -->

            <!-- Parte central - lojamiento -->
              <div class="col-md-12 container_low">
  
                <div class="col-md-8 col-md-offset-2">
                  
                  <div class="personal-info">
                          <div class="">
                            <br >
                              <label>Tipo vivienda: </label>
                              <span>
                                <%= @user.housing_type %>
                              </span>
                              <br >
                              <label>Descripción: </label>
                              <span>
                                <%= @user.housing_description %>
                              </span>
                              <br >
                              <label>Mascotas aceptadas: </label>
                              <span>
                              <%= @user.welcome_pets %>
                              </span>
                              <br >
                              <label>Precio: </label>
                              <span>
                              <%= @user.price  %>
                              </span>
                              <br >
                              <label>Disponibilidad: </label>
                              <span>
                              <%= @user.availability %>
                              </span>
                              <br >

                              <p class="help-block"></p>
                    </div>
                </div>  
              </div>
                    <div class="col-md-6 container allFormButtons">
                        <div class="col-md-5 col-md-offset-3">
                              <div class="form-group">               
                              <%= link_to 'Editar', edit_user_host_path(@user), class: "btn btn-primary pull-rigth" %>
                             
                              </div>
                          </div>
                          
                    </div>
                    
                <!-- Fin Parte de redes sociales en el alta de perfil -->
                
                <!-- Botones formulario -->
              

               
            </div>
            <!-- Fin Parte central - enlaces -->
        </form>
      
        </div>  
        <!-- Fin del div de parte central -->
        <div class="col-md-3">
          <div class="col-md-12">
          <!-- Barra vertical de opciones del perfil de usuairo -->
            
              <ul class="list-group list-primary">
                <%= link_to 'Añadir mascota', new_user_pet_path(@user), class: "list-group-item"%>
                <% if @user.pets.size>0%>
                 <%= link_to 'Ver mascotas', user_pets_path(@user), class: "list-group-item"%> 
                <% end %>
                <%= link_to 'Ser anfitrion', edit_user_host_path(@user), class: "list-group-item" %> 
                <% if @user.housing_type %>
                <%= link_to 'Ver alojamiento', user_host_path(current_user), class: "list-group-item" %> 
                <% end %>
                <%#= link_to 'Ver mensajes', messages_user_path(current_user), class: "list-group-item"%> 
                <%= link_to 'Valoraciones', user_valorations_path(current_user), class: "list-group-item"%>
                <%= link_to 'Editar', edit_user_path(@user), class: "list-group-item" %> 
                <%= link_to 'Atrás', user_session_path, class: "list-group-item" %>
              </ul>
          </div>
            <!-- Fin Barra vertical de opciones del perfil de usuario -->
        </div>
    </div>
</div>
<!-- /.container -->
