
<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de casa:</strong>
  <%= @user.housing_type %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @user.housing_description %>
</p>

<p>
  <strong>Mascotas aceptadas:</strong>
  <%= @user.welcome_pets %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @user.price %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @user.availability %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Código postal:</strong>
  <%= @user.postal_code %>
</p>

<%= link_to 'Ver mascotas', user_pets_path(@user)%> |
<%= link_to 'Añadir mascota', new_user_pet_path(@user)%> |
 
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', user_session_path %>