<div class="container-fluid">
<div class="panel panel-default">
<div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @user.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Código postal:</strong>
  <%= @user.postal_code %>
</p>



<%= link_to 'Añadir mascota', new_user_pet_path(@user)%> |
<% if @user.pets.size>0%>
<%= link_to 'Ver mascotas', user_pets_path(@user)%> |
<% end %>
<%= link_to 'Ser anfitrion', edit_user_host_path(@user) %> |
<% if @user.housing_type %>
<%= link_to 'Ver alojamiento', user_host_path(current_user) %> |
<% end %>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', user_session_path %>
</div>
</div>
</div>
