<h1>New Valoration</h1>
<%= form_for [@user, @valoration] do |f| %>
  <%= f.hidden_field :host_id, value: params[:id] %>

	<div class="field">
	    <%= f.label :opinion %>
	    <%= f.text_area :opinion %>
	</div>

	<div class="actions">
	    <%= f.submit %>
	</div>
<% end %>

<%= link_to 'Volver', user_pets_path(@user) %>