<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>

  <div class="form-group">
    <%= f.label :username, class: 'sr-only' %>
    <div class="">
    <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'sr-only' %>
    <div class="">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
      <%= f.label :remember_me %>
      </label>
      <%= f.check_box :remember_me %>
    </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <%= render "devise/shared/links" %>
  <% end -%> 
<% end %>
</div>

