<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pethost</title>
    <%= csrf_meta_tags %>   
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    
  </head>
    
  <body>

    <header> 
      <%= render '/layouts/nav' %>
    </header>
      <div class="imghome">
      </div>



    <%= yield %>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
