<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pethost</title>
    <%= csrf_meta_tags %>   
    <%= stylesheet_link_tag    'application', media: 'all' %>

    
  </head>

  <body class="imghome">
    <header> 
      <%= render '/layouts/nav' %>
    </header>
      


    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
